@media screen and (min-width: 768px) {
  #skill-container {
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info {
    max-width: 80%;
  }

  #projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: auto 400px 1fr auto;
    max-width: 2000px;
  }

  section#ficha {
    height: fit-content;
    grid-column: 2/3;
    position: sticky;
    top: 65px;
  }

  section#detalhes {
    grid-column: 3/-1;
  }
  #projeto-container a {
    max-width: none;
  }

  #projeto-container .foto {
    min-width: 200px;
    transition: min-width 0.2s;
  }
}

@media screen and (max-width: 767.1px) {
  #projeto-container a {
    max-width: none;
  }
}
